body {
  background: #bdc3c7;
  display: flex;
  justify-content: center;
}
.holder {
  width: 800px;  
  margin-top: 50px;
  position: relative;
}
.steve {
  width: 80px;
  height: 80px;
  box-shadow: 80px 0 0 #2B1A05,
              160px 0 0 #271805,
              240px 0 0 #2B1906,
              320px 0 0 #231603,
              400px 0 0 #1F1102,
              480px 0 0 #211303,
              560px 0 0 #271805,
              640px 0 0 #251705,

              80px 80px 0 #271805,
              160px 80px 0 #271805,
              240px 80px 0 #271805,
              320px 80px 0 #301F08,
              400px 80px 0 #40250A,
              480px 80px 0 #3D250D,
              560px 80px 0 #281806,
              640px 80px 0 #231603,

              80px 160px 0 #271805,
              160px 160px 0 #B78A6C,
              240px 160px 0 #BE8F73,
              320px 160px 0 #C79781,
              400px 160px 0 #BE8C73,
              480px 160px 0 #BE8F75,
              560px 160px 0 #AD775A,
              640px 160px 0 #31200A,

              80px 240px 0 #AC7E66,
              160px 240px 0 #B5856D,
              240px 240px 0 #AC7E66,
              320px 240px 0 #AE816D,
              400px 240px 0 #9D735C,
              480px 240px 0 #BC8A73,
              560px 240px 0 #9D694B,
              640px 240px 0 #9D694B,

              80px 320px 0 #B5856D,
              160px 320px 0 #FFFFFF,
              240px 320px 0 #4437A6,
              320px 320px 0 #B67C67,
              400px 320px 0 #BC8A73,
              480px 320px 0 #4437A6,
              560px 320px 0 #FFFFFF,
              640px 320px 0 #AC7E66,

              80px 400px 0 #9D6344,
              160px 400px 0 #B47C62,
              240px 400px 0 #B88373,
              320px 400px 0 #6A3E2C,
              400px 400px 0 #6A3E2C,
              480px 400px 0 #BF896C,
              560px 400px 0 #A36A45,
              640px 400px 0 #815231,

              80px 480px 0 #915E41,
              160px 480px 0 #975F3E,
              240px 480px 0 #3F1B04,
              320px 480px 0 #8B4B3A,
              400px 480px 0 #8B4B3A,
              480px 480px 0 #3F1B04,
              560px 480px 0 #905E3C,
              640px 480px 0 #825236,

              80px 560px 0 #704328,
              160px 560px 0 #6D4125,
              240px 560px 0 #3F1B04,
              320px 560px 0 #401703,
              400px 560px 0 #431D06,
              480px 560px 0 #431D06,
              560px 560px 0 #845438,
              640px 560px 0 #7B4D30;
}
.steve-eye {
  width: 160px;
  height: 80px;
  background: #9D735C;
  position: absolute;
  top: 320px;
  opacity: 0;
  animation: blinking 10s infinite;
}
.steve-eye.left {
  left: 160px;
}
.steve-eye.right {
  right: 70px;
}

@keyframes blinking {
  25%      {opacity:0}
  26%      {opacity:1}
  27%, 45% {opacity:0}
  46%      {opacity:1}
  47%      {opacity:0}
}
